Workflows/WF-06 Send Post to Leads.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-post-to-leads",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        208
      ],
      "id": "26bd1720-3aa1-4d2a-a2c0-e884a80d7720",
      "name": "Webhook",
      "webhookId": "3795e5a7-7a4d-4117-b472-51b4896549ba"
    },
    {
      "parameters": {
        "jsCode": "const { post_id, post_url, leads } = $json.body;\n\nif (!Array.isArray(leads) || leads.length === 0) {\n  throw new Error('No leads provided');\n}\n\nreturn leads.map((lead, i) => ({\n  json: {\n    post_id,\n    post_url,\n    lead_id: lead.id,\n    first_name: lead.first_name || null,\n    last_name: lead.last_name || null,\n    linkedin_url: lead.linkedin_url,\n    heyreach_id: lead.heyreach_id || null,\n  },\n  pairedItem: { item: i },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        208
      ],
      "id": "b9e1fb8c-801d-482a-9aa0-3f7f9c46d0dd",
      "name": "Split Leads"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        208
      ],
      "id": "88f3920b-3d54-4c2c-a484-71c0cbca9c74",
      "name": "Loop Over Leads"
    },
    {
      "parameters": {
        "resource": "inbox",
        "limit": 1,
        "additionalFields": {
          "leadProfileUrl": "={{ $json.linkedin_url }}"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-heyreach.heyReach",
      "typeVersion": 1,
      "position": [
        816,
        208
      ],
      "id": "60a65f17-7151-4356-9cdb-e05886297cb3",
      "name": "Get Conversation",
      "credentials": {
        "heyReachApi": {
          "id": "NiUuyFvNJLksNwhJ",
          "name": "HeyReach account-Michael"
        }
      }
    },
    {
      "parameters": {
        "resource": "inbox",
        "operation": "sendMessage",
        "message": "=Hallo {{ $json.items[0].correspondentProfile.firstName }},\n\nIch wollte Ihnen diesen Beitrag teilen:\n{{ $('Split Leads').item.json.post_url }}\n\nHerzliche Grüße,\nMichael",
        "subject": "=",
        "conversationId": "={{ $json.items[0].id }}",
        "linkedInAccountId": 209520,
        "requestOptions": {}
      },
      "type": "n8n-nodes-heyreach.heyReach",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ],
      "id": "e174835c-6584-4af0-a0eb-8fa7b934df3e",
      "name": "Send Post Message",
      "credentials": {
        "heyReachApi": {
          "id": "NiUuyFvNJLksNwhJ",
          "name": "HeyReach account-Michael"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "post_sends",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "post_id",
              "fieldValue": "={{ $('Split Leads').item.json.post_id }}"
            },
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $('Split Leads').item.json.lead_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1216,
        208
      ],
      "id": "3b5792e6-5fd4-45cd-918b-fc8896003a2b",
      "name": "Record in post_sends",
      "credentials": {
        "supabaseApi": {
          "id": "qfbu43o1tlmbP0WQ",
          "name": "Supabase account-Michael"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1488,
        192
      ],
      "id": "4cfad226-a63b-4225-ab45-e1f2232c0cef",
      "name": "Wait",
      "webhookId": "wf06-wait-001"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [],
        [
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation": {
      "main": [
        [
          {
            "node": "Send Post Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Post Message": {
      "main": [
        [
          {
            "node": "Record in post_sends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record in post_sends": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "067c595f821a5ce896589e18efac21979e15a4a5179c1c556e5ee284241d08e3"
  }
}